<td-chart>
  <td-chart-x-axis [show]="true" [type]="'time'" [interval]="this.interval" [min]="this.firstDay" [max]="this.lastDay">
  </td-chart-x-axis>
  <td-chart-y-axis [show]="true" [inverse]="true" [min]="maxLevels" [max]="0" [type]="'value'"> </td-chart-y-axis>
  <td-chart-series
    td-line
    [name]="'Level'"
    [data]="this.seriesData"
    [color]="'#F2724B'"
    [symbolSize]="5"
    [label]="{ show: true }"
  >
  </td-chart-series>
  <td-chart-series
    td-line
    [name]="'Level'"
    [data]="this.seriesDataInacc"
    [color]="'#F2724B'"
    [lineStyle]="{
      type: 'dotted',
      opacity: 0.3
    }"
    [symbolSize]="3"
    [label]="{ show: false }"
  >
  </td-chart-series>
  <td-chart-tooltip [trigger]="'item'" [triggerOn]="'mousemove'">
    <ng-template let-params let-i="index" let-ticket="ticket" tdTooltipFormatter>
      <ng-container *ngIf="params">
        <div layout="row" layout-align="start center">
          <span class="mat-caption pad-left-sm">
            {{ params.name.top }} <br />
            {{ params.name.bottom }}
          </span>
        </div>
      </ng-container>
    </ng-template>
  </td-chart-tooltip>
</td-chart>
