@import '@angular/material/theming';
$config: mat-typography-config();

:host {
  min-width: 64px;
  cursor: pointer;
}

.up {
  @include mat-typography-level-to-styles($config, headline);

  .viewing {
    font-size: 1.2rem;
  }

  mat-icon {
    font-size: 18px;
    height: auto;
    width: auto;
  }
}

.down {

  &,
  a {
    font-size: 0.8rem;
    color: #aaaaaa;
  }
}
