:host {
  width: 100%;
}

input {
  flex: 1 auto;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #f1f3f4;
  &:focus {
    outline: none;
  }
}

.player-search {
  max-width: 750px;
  display: flex;
}
