:host {
  width: 100%;
}

form{
  display: flex;
}

input {
  flex: 1;
  border: none;
  padding: 15px;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}


.header input {
  background-color: #f1f3f4;
  border-radius: 5px;
}


.no-header input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}
