@import '~@angular/material/theming';
$config: mat-typography-config();

.info {
  padding: 12px 12px 6px 12px;
  border-bottom: 1px solid #aaaaaa;

  display: flex;
  align-items: stretch;

  .name {
    margin: 0 10px;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    display: flex;

    &.inactive {
      color: #ccc;
    }
  }

  .up {
    @include mat-typography-level-to-styles($config, headline);
    font-size: 20px;
    mat-icon {
      font-size: 18px;
      height: auto;
      width: auto;
    }
  }
  .down {
    margin-top: 3px;
    font-size: 14px;
    color: #aaaaaa;
  }
}

.content {
  padding: 12px;

  .player {
    cursor: pointer;
    &.base::after {
      content: '*';
      color: #666;
    }
  }
}

.no-players {
  color: #aaaaaa;
}
