extends ../../layouts/layout.pug
include ../../mixins/players.pug
include ../../mixins/subtitudes.pug
include ../../mixins/header.pug
include ../../mixins/signatures.pug
include ../../mixins/validations.pug

block style
  style(type="text/css").
    .top-double-player {
      border-bottom-style: dashed;
      border-right-style: solid;
      border-left-style: solid;
      border-top-style: solid;
    }

block title
  | Ploegopstelling

block content
  .p-6.gap-2.flex.flex-col
    //- center text
    .text-center
      h1.text-2xl.mb-2.border Ploegopstellingsformulier - interclubcompetitie
    +header(captain, event, date, homeTeam, awayTeam, isHomeTeam, teamIndex, baseIndex)
    +players(singles, doubles, type)
    +subtitudes(subtitudes)

    if exception
      .text-xs
        i.pr-1.fas.fa-lock.text-gray-600
        span #{ exception }

    //- Signatures
    +signatures(logo)

    //- Errors
    if validation.errors && validation.errors.length > 0
      +validations(validation.errors).text-red-500(class="max-w-[450px]")

    //- Warnings
    if validation.warnings && validation.warnings.length > 0
      +validations(validation.warnings).text-yellow-500(class="max-w-[450px]")
