<h2 mat-dialog-title>Merge accounts</h2>
<mat-dialog-content>
  <div
    fxLayout="row"
    fxLayoutGap="10px"
    fxFlexFill
    fxLayoutAlign="center center"
  >
    <div fxFlex>
      <p>Volgende dingen worden geprefereerd van ontvanger:</p>
      <ul>
        <li>Gekoppelde account</li>
        <li>MemberId</li>
        <li>CP-status</li>
        <li>Geboortedatum</li>
      </ul>
    </div>
    <div fxFlex="50px" id="left-arrow"></div>
    <div fxFlex id="toMergePlayers" fxLayout="column" fxLayoutGap="5px">
      <p>
        Verplaatst volgende zaken van deze accounts naar het ontvangende profiel
      </p>
      <ul>
        <li>
          Club / Team memberships (Als hij er 2x inzit zal er gewoon 1
          verdwijnen)
        </li>
        <li>Permissies</li>
        <li>Comments</li>
        <li>Games</li>
        <li>Ranking punten</li>
      </ul>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="10px">
    <div
      fxLayout="row"
      fxLayoutGap="10px"
      fxFlexFill
      fxLayoutAlign="center center"
    >
      <div fxFlex>
        <badman-merge-player [player]="this.data.player"></badman-merge-player>
      </div>
      <div fxFlex="50px" id="left-arrow">
        <mat-icon>arrow_back</mat-icon>
      </div>
      <div fxFlex id="toMergePlayers" fxLayout="column" fxLayoutGap="5px">
        <div
          class="empty"
          *ngIf="this.toMergePlayers.length === 0"
          fxFlex="75px"
          fxLayoutAlign="center center"
        >
          <small>Add players below to start merging</small>
        </div>
        <badman-merge-player
          *ngFor="let player of this.toMergePlayers"
          [player]="player"
        ></badman-merge-player>
      </div>
    </div>

    <div fxFlex>
      <badman-player-search
        *ngIf="this.rankingDate"
        [ranking]="this.rankingDate"
        [ignorePlayers]="this.ignorePlayers"
        (whenSelectPlayer)="this.addPlayer($event)"
      ></badman-player-search>
    </div>

    <div fxLayout="column">
      <div fxFlex>
        <mat-slide-toggle (change)="this.differentMemberIds = $event.checked"
          >Merge verschillende member id´s</mat-slide-toggle
        >
      </div>
      <div fxFlex>
        <span *ngIf="this.differentMemberIds" class="warn">
          Dit kan een profiel volledig kapot maken, gebruik met extreme
          voorzichtigheid!
        </span>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <small>Tijdelijke layout, gewoon dan om dit al te kunnen gebruiken :)</small>
  <button mat-button [mat-dialog-close]="null">
    {{ 'button.close' | translate }}
  </button>

  <button mat-raised-button color="primary" (click)="this.mergeAccounts()">
    Merge
  </button>
</mat-dialog-actions>
