<div *ngIf="loaded; else loading" fxLayout="column" fxLayoutGap="16px">
  <div>
    <div class="mat-subheading-1">{{ 'competition.team-assembly.title' | translate }} <badman-beta></badman-beta></div>
    <small>{{ 'competition.team-assembly.disclaimer' | translate }}</small>
  </div>

  <div
    class="select-encounter"
    fxFlex
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="16px"
  >
    <badman-select-club fxFlex="25" [needsPermission]="false" [formGroup]="formGroup" [updateUrl]="true"></badman-select-club>
    <badman-select-team fxFlex="25" [formGroup]="formGroup"></badman-select-team>
    <badman-select-encounter
      fxFlex="50"
      [formGroup]="formGroup"
      (onSelectEncounter)="this.encounterSelected($event)"
    ></badman-select-encounter>
    <div class="download">
      <button
        mat-stroked-button
        color="primary"
        [class.spinner]="this.pdfLoading"
        [disabled]="this.pdfLoading"
        (click)="this.download()"
        fxFlex
      >
        <mat-icon>download</mat-icon>
        {{ 'competition.team-assembly.download' | translate }}
      </button>
    </div>
  </div>

  <badman-assembly [formGroup]="this.formGroup"></badman-assembly>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
