DB_IP=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_DIALECT=

REDIS_HOST=redis
REDIS_PORT=6379

AUTH0_ISSUER_URL=
AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
CLIENT_URL=

MAIL_PASS=
MAIL_USER=
MAIL_HOST=

VR_API=
VR_API_USER=
VR_API_PASS=

APM_SERVER_URL=https://apm.badman.app
APM_SERVER_ACTIVE=false
APM_SERVER_TOKEN=
ESC_SERVER_URL=

VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=