@import 'app/_shared/mixins.scss';

@include mat-table-columns((position: (width: 25px, flex: none),
    name: (width: 8rem),
    played: (flex: 1, justify-content: center),
    won: (flex: 1, justify-content: center),
    tied: (flex: 1, justify-content: center),
    lost: (flex: 1, justify-content: center),
    gamesWon: (flex: 1, justify-content: center),
    gamesLost: (flex: 1, justify-content: center),
    setsWon: (flex: 1, justify-content: center),
    setsLost: (flex: 1, justify-content: center),
    totalPointsWon: (flex: 1, justify-content: center),
    totalPointsLost: (flex: 1, justify-content: center),

    games: (flex: 2, justify-content: center),
    sets: (flex: 2, justify-content: center),
    totalPoints: (flex: 2, justify-content: center),
  ),
);
