extends ../../layouts/layout.pug

block title
  h1.text-center
    | Andere locatie
    
block content
  p.text-center 
    p
      | Beste,
      br
      br
      | De ontmoeting tussen #{ encounter.home.name } en #{ encounter.away.name } gaat nu door op:
      br
      | #{ encounter.location.name }
    p
      smalll Deze ontmoeting is deel van de competitie #{ event.name }.