.mat-subheading-2 {
  flex-direction: column;

  .bottom {
    line-height: 1em;
    font-size: 0.75em;
  }

  .spacer {
    margin: 0 5px;
  }
}

a {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

.games {
  display: flex;
  flex-wrap: wrap;
}
