<div class="mat-subheading-1">Edit competition</div>
<ng-container *ngIf="this.event$ | async as event">
  <ng-container *ngIf="this.formGroup">
    <badman-has-claim [any]="['edit:competition']">
      <badman-event-competition-fields
        [event]="event"
        [formGroup]="this.formGroup"
      ></badman-event-competition-fields>
      <div noPerm>{{ event.name }}</div>
    </badman-has-claim>

    <div class="mat-subheading-1">Sub events</div>

    <div *ngFor="let subEvent of event.subEventCompetitions; index as i">
      <badman-event-competition-level-fields
        [type]="event.type"
        [subEvent]="subEvent"
        [formGroup]="$any(this.formGroup.get('subEvents'))?.at(i)"
        (onDelete)="this.removeSubEvent(event, $event)"
      ></badman-event-competition-level-fields>
    </div>

    <button mat-button (click)="this.newSubEvent(event)">
      {{ 'button.create' | translate }}
    </button>
  </ng-container>
</ng-container>
