mixin signatures(logo)
  //- Top row
  .flex.justify-between
    .flex
      //- base64 with logo badminton vlaanderen
      img(src=logo, width="300px", alt="logo badminton vlaanderen")

    .flex.gap-20.justify-between
      .flex Handtekening ploegkapitein,
      .flex handtekening ploegkapitein tegenpartij,
