include ./row.pug

mixin subtitudes(subtitudes)
  .grid.text-xs(
    class="grid-cols-[45px_30px_5fr_1.2fr_2fr_2fr_2fr_2fr_2fr] grid-rows-[1fr_repeat(" + (subtitudes.length + 1) + ",26px)]"
  )
    .col-span-2.border.p-1.border-black
    .border-y.p-1.border-r.border-black
    .border-y.p-1.border-r.border-black.flex.place-content-around
      div E
      div D
      div G
    .border-y.p-1.border-r.border-black
    .border-y.p-1.border-r.border-black
    .border-y.p-1.border-r.border-black
    .border-y.p-1.border-r.border-black
    .border-y.p-1.border-r.border-black

    .flex.h-full.items-center.border-black.border-solid.border.border-t-0.justify-center.col-span-2(
      class="row-span-" + (subtitudes.length + 1)
    ) invallers

    if subtitudes.length > 0
      each sub, index in subtitudes
        +subPlayer(sub).p-1.border.border-solid.border-l-0.border-t-0.border-black.flex.h-full.items-center

    +subPlayer(null, true).p-1.border.border-solid.border-l-0.border-t-0.border-black.flex.h-full.items-center
