@use 'sass:map';
@use '@angular/material'as mat;

@mixin app-competition-encounter-color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');

  app-competition-encounter {
    border-color: #ccc;

    .games {
      border-top-color: #ccc;
    }
  }
}

@mixin app-competition-encounter-typography($theme) {
  // Get the typography config from the theme.
  $typography-config: mat.get-typography-config($theme);

  app-competition-encounter {
    font-family: mat.font-family($typography-config);

    // .score, .between {
    //   @include mat.typography-level($my-typography, 'title');

    // }
  }
}

@mixin app-competition-encounter-theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include app-competition-encounter-color($theme);
  }

  $typography-config: mat.get-typography-config($theme);

  @if $typography-config !=null {
    @include app-competition-encounter-typography($theme);
  }
}
