@import '../../../_shared/mixins.scss';

.level {
  font-weight: bold;
}

.rank {
  color: rgba(0, 0, 0, 0.5);
}

@include mat-table-columns(
  (
    player: (
      width: 20rem,
    ),
    single: (
      flex: 1,
      justify-content: center,
    ),
    singleRank: (
      flex: 1,
      justify-content: center,
    ),
    double: (
      flex: 1,
      justify-content: center,
    ),
    doubleRank: (
      flex: 1,
      justify-content: center,
    ),
    mix: (
      flex: 1,
      justify-content: center,
    ),
    mixRank: (
      flex: 1,
      justify-content: center,
    ),
  )
);
