extends ../../layouts/layout.pug

block title
  h1.text-center
    | Encounter check failed

block content
  p.text-center
    p
      | Beste #{ user }, 
      br
      | Het controleren van een ontmoeting is niet gelukt
      br
    //- check if the url is available
    if url
      p
        a(href=`${url}`)
          | Toernooi.nl
    
    if urlBadman
      p
        a(href=`${urlBadman}`)
          | badman
    
    p
      | Met sportieve groeten,
      br
      |
      | Badman
    p
      | Disclaimer:
      br
      small
        |
        | Deze notificatie is nog in beta. Mocht je vragen of opmerkingen hebben, laat het ons weten via
        a(href="mailto:info@badmintonvlaanderen.be") badmintonvlaanderen
