@import 'app/_shared/variables.scss';

:host {
  display: block;
}

.information {
  border: solid 1px #ccc;
  min-height: 44px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  > div{
    padding: 16px;
  }
}



.team-info {
  .add-player {
    margin-top: 16px;
  }
}

.team-info,
.single,
.double {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;

  &.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.drag {
  border: solid 1px #ccc;
  min-height: 44px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;

  &.double {
    min-height: 88px;
  }

  &.error {

    &,
    label,
    .drag-item {
      background: mat-color($client-angular-warn, 100);
    }

    .drag-item {
      border-bottom: solid 1px mat-color($client-angular-warn, 200);

      &:last-child {
        border: none;
      }
    }
  }
}

.drag,
.information {
  label {
    border-radius: 4px;
    display: inline-block;
    margin-top: -10px;
    margin-left: 10px;
    background: white;
    position: absolute;
    padding: 0px 5px;
  }
}


.drag-item {
  padding: 12px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  background: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;

  &:last-child {
    border: none;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.team-index {
  display: inline-block;

  &.team-index-ignored {
    text-decoration: line-through;
  }
}
