<div
  role="group"
  class="badman-time-picker-input-container"
  [formGroup]="parts"
  [attr.aria-labelledby]="_formField?.getLabelId()"
  (focusin)="onFocusIn($event)"
  (focusout)="onFocusOut($event)"
>
  <input
    matInput
    type="number"
    class="badman-time-picker-input-element hours"
    formControlName="hours"
    type="number"
    aria-label="Hours"
    (input)="_handleInput(parts.controls['hours'])"
    (keydown.ArrowRight)="autoFocusNext(parts.controls['hours'], minutes)"
    #hours
  />
  <span class="badman-time-picker-input-spacer">&colon;</span>
  <input
    matInput
    type="number"
    class="badman-time-picker-input-element minutes"
    type="number"
    formControlName="minutes"
    aria-label="Minutes"
    (input)="_handleInput(parts.controls['minutes'])"
    #minutes
  />
</div>

<!-- (keydown.ArrowLeft)="autoFocusPrev(parts.controls['minutes'], hours, 2)"
    (keydown.Backspace)="autoFocusPrev(parts.controls['minutes'], hours)" -->
