:host {
  display: block;
  width: 100%;
}

.app-time-picker-input-element {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  width: 1.25em;
  
}

.app-time-picker-input-spacer {
  opacity: 0;
  transition: opacity 200ms;
}

:host.example-floating .app-time-picker-input-spacer {
  opacity: 1;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
