:host {
  display: block;
  margin: 0.25em 0;
  position: relative;
}

#selection {
  border: solid 1px #ccc;
  min-height: 44px;
  background: white;
  border-radius: 4px;
  padding: 0.4em 0 0.35em 0;
}

.period {
  line-height: 40px;
}

.label {
  transform: scale(0.75);
  color: rgba(0, 0, 0, 0.6);
  background: white;
  margin-top: -0.6em;
  padding: 0 5px;
  position: absolute;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
