@import '@angular/material/theming';
@import '@covalent/core/theming/all-theme';

$client-angular-primary: mat-palette($mat-blue-gray);
$client-angular-accent: mat-palette($mat-deep-orange, A200, A100, A400);
$client-angular-warn: mat-palette($mat-red);



@mixin mat-table-columns($columns) {
  .mat-column- {

    @each $colName,
    $props in $columns {

      $flex: map-get($props, 'flex');
      $width: map-get($props, 'width');


      @if ($flex==null) {
        $flex: $width;
      }

      &#{$colName} {
        flex: $flex;
        min-width: $width;

        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }

        @if map-has-key($props, 'justify-content') {
          justify-content: map-get($props, 'justify-content');
        }
      }
    }
  }
}
