.mat-subheading-2 {
  flex-direction: column;

  .bottom {
    line-height: 1em;
    font-size: 0.75em;
  }

  .spacer {
    margin: 0 5px;
  }

  .top {
    cursor: pointer;

    .won {
      font-weight: 500;
    }

    .vs,
    .score {
      margin: 0 5px;
    }
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
}
