:host {
  display: block;
}


.label {
  font-size: small;
  height: 6px;
}

.central-loader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

.central-loader>div {
  height: 42px;
  line-height: 40px;
  width: 200px;
  text-align: center;
  margin: auto;
  color: black;
}
