// info: https://material.angular.io/guide/theming-your-components

@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);
  $isDark: map.get($color-config, 'is-dark');

  // Background color
  $background: map.get($color-config, 'background');
  $background-color: mat.m2-get-color-from-palette($background, 'app-bar');

  $danger-palette: map.get($theme, danger);
  $warn-palette: map.get($theme, warn);
  $success-palette: map.get($theme, success);

  ::-webkit-scrollbar-thumb {
    @if $isDark {
      background-color: lighten($background-color, 30%);
    } @else {
      background-color: darken($background-color, 30%);
    }
  }

  ::-webkit-scrollbar-thumb:hover {
    @if $isDark {
      background-color: lighten($background-color, 20%);
    } @else {
      background-color: darken($background-color, 20%);
    }
  }

  .mat-mdc-snack-bar-container {
    &.error {
      --mdc-snackbar-container-color: #{mat.m2-get-color-from-palette($danger-palette, 300)};
      --mat-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
      --mat-mdc-snack-bar-button-color: #fff;
    }
    &.warn {
      --mdc-snackbar-container-color: #{mat.m2-get-color-from-palette($warn-palette, 300)};
      --mat-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
      --mat-mdc-snack-bar-button-color: #fff;
    }
    &.success {
      --mdc-snackbar-container-color: #{mat.m2-get-color-from-palette($success-palette, 300)};
      --mat-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
      --mat-mdc-snack-bar-button-color: #fff;
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.m2-get-typography-config($theme);
}

@mixin theme($theme) {
  // Only apply theme on the correct element
  $color-config: mat.m2-get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.m2-get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
