// info: https://material.angular.io/guide/theming-your-components

@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  $isDark: map.get($color-config, 'is-dark');

  // Background color
  $background: map.get($color-config, 'background');
  $background-color: mat.get-color-from-palette($background, 'app-bar');

  ::-webkit-scrollbar-thumb {
    @if $isDark {
      background-color: lighten($background-color, 30%);
    } @else {
      background-color: darken($background-color, 30%);
    }
  }

  ::-webkit-scrollbar-thumb:hover {
    @if $isDark {
      background-color: lighten($background-color, 20%);
    } @else {
      background-color: darken($background-color, 20%);
    }
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);
}

@mixin theme($theme) {
  // Only apply theme on the correct element
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
