// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@use './theme-functions' as theme;
@use './badman.theme' as root-theme;

@use '../../../libs/frontend/components/theme' as frontend-components;
@use '../../../libs/frontend/pages/competition/team-assembly/theme' as frontend-assembly;
@use '../../../libs/frontend/pages/club/theme' as frontend-club;
@use '../../../libs/frontend/pages/competition/event/theme' as frontend-competition;
@use '../../../libs/frontend/pages/competition/change-encounter/theme' as frontend-change-encounter;
@use '../../../libs/frontend/pages/tournament/theme' as frontend-tournament;
@use '../../../libs/frontend/pages/competition/team-enrollment/theme' as frontend-team-enrollement;
@use '../../../libs/frontend/pages/player/theme' as frontend-player;
@use '../../../libs/frontend/pages/ranking/theme' as frontend-ranking;
@use '../../../libs/frontend/pages/role/theme' as frontend-role;
@use '../../../libs/frontend/pages/team/theme' as frontend-team;
@use '../../../libs/frontend/pages/general/theme' as frontend-general;
@use './date-picker.theme.scss' as datepicker;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$theme-warn: mat.define-palette(mat.$orange-palette);
$theme-success: mat.define-palette(mat.$green-palette);
$theme-danger: mat.define-palette(mat.$red-palette);

$dark-theme: theme.badman-dark-theme(
  mat.define-palette(mat.$blue-palette),
  mat.define-palette(mat.$blue-grey-palette),
  $theme-warn,
  $theme-success,
  $theme-danger,
  mat.define-typography-config(),
  -2
);

$light-theme: theme.badman-light-theme(
  mat.define-palette(mat.$indigo-palette),
  mat.define-palette(mat.$pink-palette),
  $theme-warn,
  $theme-success,
  $theme-danger,
  mat.define-typography-config(),
  -2
);

@include mat.all-component-themes($dark-theme);
@include root-theme.theme($dark-theme);
// Own components
@include frontend-assembly.theme($dark-theme);
@include frontend-club.theme($dark-theme);
@include frontend-competition.theme($dark-theme);
@include frontend-change-encounter.theme($dark-theme);
@include frontend-tournament.theme($dark-theme);
@include frontend-team-enrollement.theme($dark-theme);
@include frontend-components.theme($dark-theme);
@include frontend-player.theme($dark-theme);
@include frontend-ranking.theme($dark-theme);
@include frontend-role.theme($dark-theme);
@include frontend-team.theme($dark-theme);
@include frontend-general.theme($dark-theme);

// Temp fix
@include datepicker.fix-datepicker($dark-theme);

.color-scheme-light {
  @include mat.all-component-colors($light-theme);
  @include root-theme.color($light-theme);
  // Own components
  @include frontend-assembly.color($light-theme);
  @include frontend-club.color($light-theme);
  @include frontend-competition.color($light-theme);
  @include frontend-change-encounter.color($light-theme);
  @include frontend-tournament.color($light-theme);
  @include frontend-team-enrollement.color($light-theme);
  @include frontend-player.color($light-theme);
  @include frontend-ranking.color($light-theme);
  @include frontend-role.color($light-theme);
  @include frontend-team.color($light-theme);
  @include frontend-components.color($light-theme);
  @include frontend-general.color($light-theme);

  // Temp fix
  @include datepicker.fix-datepicker($light-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cdk-overlay-pane {
  div.mat-mdc-menu-panel {
    max-width: none;
  }
}

xng-breadcrumb .xng-breadcrumb-list {
  margin: 16px 16px 0 16px;
}
mat-sidenav-container {
  .app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }

  .mat-drawer-content {
    overflow: hidden;
  }
}

.tooltip-multi-line {
  white-space: pre-line;
}
.tooltip-center-text.mdc-tooltip--multiline div {
  text-align: center;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

mat-dialog-content {
  overflow: inherit;
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

// Spinner for button
.spinner {
  .mdc-button__label {
    visibility: hidden;
    opacity: 0;
  }

  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
