@use '@angular/material' as mat;

/// Defines a dark color theme with success and danger colors.
/// @param {Map} $primary The primary color map.
/// @param {Map} $accent The accent color map.
/// @param {Map} $warn The warn color map.
/// @param {Map} $success The success color map.
/// @param {Map} $danger The danger color map.

@function badman-dark-theme(
  $primary,
  $accent,
  $warn: mat.m2-define-palette($mat-orange),
  $success: mat.m2-define-palette(mat.$mat-green),
  $danger: mat.m2-define-palette(mat.$mat-red),
  $typography: mat.m2-define-typography-config(),
  $density: -2
) {
  $dark-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: $typography,
      density: $density,
    )
  );

  $danger-success: (
    success: $success,
    danger: $danger,
  );
  @return map-merge($dark-theme, $danger-success);
}

/// Defines a light color theme with success and danger colors.
/// @param {Map} $primary The primary color map.
/// @param {Map} $accent The accent color map.
/// @param {Map} $warn The warn color map.
/// @param {Map} $success The success color map.
/// @param {Map} $danger The danger color map.
@function badman-light-theme(
  $primary,
  $accent,
  $warn: mat.m2-define-palette($mat-orange),
  $success: mat.m2-define-palette(mat.$mat-green),
  $danger: mat.m2-define-palette(mat.$mat-red),
  $typography: mat.m2-define-typography-config(),
  $density: 0
) {
  $light-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: $typography,
      density: $density,
    )
  );
  $danger-success: (
    success: $success,
    danger: $danger,
  );
  @return map-merge($light-theme, $danger-success);
}
