:host {
  display: block;
}

.mat-subheading-2 {
  flex-direction: column;

  .date {
    line-height: 0.6em;
    font-size: 0.6em;
    padding-bottom: 7px;
  }
}

a {
  color: rgba(0, 0, 0, .87);
  text-decoration: none;
}

.games {
  display: flex;
  flex-wrap: wrap;

  app-game-result {
    flex: 1 auto;
    width: 350px;
  }
}
