<ng-container [formGroup]="formGroup">
  <mat-form-field appearance="outline" fxFlex class="dense">
    <mat-label>{{ 'pickers.select-encounter' | translate }}</mat-label>
    <mat-select formControlName="encounter" required>
      <ng-container *ngIf="this.encounters$ | async as encounters">
        <mat-option *ngFor="let encounter of encounters" [value]="encounter.id">
          <span>{{ encounter.date | amDateFormat: 'llll' }} </span>
          <span translate="competition.vs"></span>
          <span *ngIf="encounter.showingForHomeTeam">
            {{ encounter.away?.name }}</span
          >
          <span *ngIf="!encounter.showingForHomeTeam">
            {{ encounter.home?.name }}</span
          >
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</ng-container>
