:host {
  height: 100%;
  width: 100%;
}

.calendar-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-collapse: collapse;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  background-color: #fff;

}

.calendar-day {
  padding: .75rem;

  border-top: 1px solid #dee2e6;

  &:not(:nth-child(7n)) {
    border-right: 1px solid #dee2e6;
  }
}

.calendar-day:not(.weekday) {
  min-height: 100px;
}

.calendar-day.weekday {
  border-top: none;
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.blue-date {
  color: rgb(16, 110, 190);
}

.calendar-day.past-date {
  background-color: rgb(248, 248, 248);
}
