<div fxFlex fxLayout="column" fxLayoutGap="16px">
  <div fxFlex fxLayout="row" fxLayoutGap="16px">
    <mat-form-field appearance="outline" fxFlex="200px">
      <mat-label>Year</mat-label>
      <mat-select [formControl]="this.yearControl">
        <mat-option *ngFor="let year of [2022]" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="300px">
      <mat-label>Event</mat-label>
      <mat-select [formControl]="this.eventControl">
        <mat-option *ngFor="let event of this.events$ | async" [value]="event.id">
          {{ event.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card *ngIf="this.subEvents$ | async as subEvents">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let subEvent of subEvents">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlex="200px">{{ subEvent.name }} {{ subEvent.eventType }}</mat-panel-title>
          <mat-panel-description>{{ subEvent.eventEntries?.length }} Teams</mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li
            *ngFor="let entry of subEvent.eventEntries"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            (click)="overlayOpen = entry.team?.id ?? ''"
          >
            {{ entry.team?.name }}

            <ng-template
              cdkConnectedOverlay
              cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
              [cdkConnectedOverlayHasBackdrop]="true"
              [cdkConnectedOverlayOrigin]="trigger"
              [cdkConnectedOverlayOpen]="overlayOpen === entry?.team?.id"
              (detach)="overlayOpen = ''"
              (backdropClick)="overlayOpen = ''"
            >
              <div class="team-deatil">
                index: {{ entry.meta?.competition?.teamIndex }}
                <ul>
                  <li *ngFor="let player of entry.meta?.competition?.players">
                    {{ player?.player?.fullName }} ({{ player?.single }} - {{ player?.double }} - {{ player?.mix }})
                  </li>
                </ul>
              </div>
            </ng-template>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
