:host {
  display: block;
  padding-bottom: 16px;
}

.players,
.scores {
  &>div:first-child {
    border-bottom: 1px solid #ccc;
  }
}

.won {
  font-weight: bold;
}

.players {
  min-height: 40px;
}

.has-user {
  cursor: pointer;
}
