@import '../../../../../../../_shared/variables.scss';

:host {
  display: block;
  padding-right: 25px;
}

.game-info {
  max-width: 350px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;


  .players {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: lighter;
    height: 95px;

    .player {
      &.won {
        font-weight: 500;
      }
    }

    // first child must be pushed to bottom
    .player:first-child {
      app-player-info:only-child {
        padding-top: 20px;
        display: block;
      }
    }
    // last child  must be pushed to top
    .player:last-child {
      app-player-info:only-child {
        padding-bottom: 20px;
        display: block;
      }
    }
  }
}

.divider {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.results {
  display: flex;
  flex-direction: column;
  align-self: center;
  .result {
    display: flex;
    .set {
      width: 20px;
      text-align: right;
      font-weight: lighter;
      &.won {
        font-weight: 500;
      }
    }
  }
}


