<ng-container *ngIf="this.rankingPlaces$ | async as rankingPlaces">
  <div *ngIf="rankingPlaces.single" fxFlex>
    <h3 translate>ranking.single</h3>
    <badman-chart [rankingPlaces]="rankingPlaces.single" [maxLevels]="this.rankingSystem.amountOfLevels"></badman-chart>
  </div>
  <div *ngIf="rankingPlaces.double" fxFlex>
    <h3 translate>ranking.double</h3>
    <badman-chart [rankingPlaces]="rankingPlaces.double" [maxLevels]="this.rankingSystem.amountOfLevels"></badman-chart>
  </div>
  <div *ngIf="rankingPlaces.mix" fxFlex>
    <h3 translate>ranking.mix</h3>
    <badman-chart [rankingPlaces]="rankingPlaces.mix" [maxLevels]="this.rankingSystem.amountOfLevels"></badman-chart>
  </div>
</ng-container>
