// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import 'shared/styles/variables';
@import 'components';
@import '@covalent/core/theming/all-theme';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object (a Sass map containing all of the palettes).
$client-angular-theme: mat-light-theme(
  (
    color: (
      primary: $client-angular-primary,
      accent: $client-angular-accent,
      warn: $client-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-angular-theme);
@include covalent-theme($client-angular-theme);

/*
  * App Styles
  * To be replaced when theme is meregd
  * --------------------------------------------------
  *
*/

@import 'components';
@include badman-competition-encounter-theme($client-angular-theme);

/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-subheading-1,
.mat-subheading-2 {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;

  > div:first-child {
    flex: 1;
    align-items: center;
    display: flex;
  }
}

.mat-subheading-1 {
  align-items: center;
  font-size: 20px;
  padding-bottom: 8px;
  margin-top: 15px;
  border-bottom: 1px solid mat-color($client-angular-accent);
}

.mat-subheading-2 {
  margin-top: 16px;
  border-left: 1px solid mat-color($client-angular-primary);
  padding-left: 10px;
}

.mat-icon {
  vertical-align: middle;
}

.mat-tooltip {
  white-space: pre-line;
}

.mat-select {
  margin-top: -10px;
}

.mat-form-field {
  div.mat-form-field-wrapper {
    .mat-form-field-infix {
      width: auto;
    }
  }

  &.dense {
    div.mat-form-field-wrapper {
      padding: 0;

      .mat-form-field-infix {
        border-top-width: 0.4em;
      }

      .mat-form-field-label {
        top: 2.2em;
      }

      div.mat-form-field-underline {
        bottom: 0;
      }
    }
  }
}

ngx-mat-timepicker.ngx-mat-timepicker form {
  min-width: initial;

  .mat-form-field-wrapper {
    padding-bottom: 0.55em;
  }
}

.outlined {
  display: block;
  margin: 0.25em 0;
  padding-bottom: 1.34375em;

  & > div {
    padding: 0 0.75em 0 0.75em;
    border: solid 1px #ccc;
    background: white;
    border-radius: 4px;
    position: relative;
  }

  mat-label {
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
    transform: scale(0.75);
    margin-top: -0.5em;
    font-weight: 400;
    line-height: 1.125;
    background: white;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    padding: 0 5px;
    left: -5px;
  }
}

snack-bar-container.success {
  background-color: green;
  color: white;
}

button {
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  &.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner 0.8s linear infinite;
  }
}

a {
  color: initial;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: lighten(mat-color($client-angular-primary), 30);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten(mat-color($client-angular-primary), 5%);
}
