extends ../../layouts/layout.pug

block title
  h1.text-center
    | Event #{event.name} sync

block content
  p.text-center
    p
      | Beste #{user}, 
      br
      br
      |   Het event is 
      //- check if event is successfully synced
      if success
        strong succesvol
      else
        strong niet succesvol
      |   gesynchroniseerd.
      br
    //- check if the url is available
    if url
      p
        a(href=`${url}`)
          | Ga naar ontmoeting
    p
      | Met sportieve groeten, 
      br
      |   Badman
    p
      | Disclaimer:
      br
      small
        |   Deze notificatie is nog in beta. Mocht je vragen of opmerkingen hebben, laat het ons weten via 
        a(href='mailto:info@badmintonvlaanderen.be') badmintonvlaanderen
