<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="this.gameTypeControl">
    <ng-template matStepLabel>
      <ng-container *ngIf="this.gameTypeControl.value.length === 0"
        >Game</ng-container
      >
      <ng-container *ngIf="this.gameTypeControl.value.length > 0">{{
        this.gameTypeControl.value
      }}</ng-container>
    </ng-template>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let gameType of this.gameTypes">
        <div
          class="selection-button"
          (click)="this.selectOption(this.gameTypeControl, gameType)"
        >
          {{ gameType }}
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="this.offenseTypeControl">
    <ng-template matStepLabel>
      <ng-container *ngIf="this.offenseTypeControl.value.length === 0"
        >Situatie</ng-container
      >
      <ng-container *ngIf="this.offenseTypeControl.value.length > 0">{{
        this.offenseTypeControl.value
      }}</ng-container>
    </ng-template>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let offenseType of this.offenseTypes">
        <div
          class="selection-button"
          (click)="this.selectOption(this.offenseTypeControl, offenseType)"
        >
          {{ offenseType }}
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="this.placeControl">
    <ng-template matStepLabel>
      <ng-container *ngIf="this.placeControl.value.length === 0"
        >Terreinzone</ng-container
      >
      <ng-container *ngIf="this.placeControl.value.length > 0">{{
        this.placeControl.value
      }}</ng-container>
    </ng-template>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let placeType of this.placeTypes">
        <div
          class="selection-button"
          (click)="this.selectOption(this.placeControl, placeType)"
        >
          {{ placeType }}
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="this.actionControl">
    <ng-template matStepLabel>
      <ng-container *ngIf="this.actionControl.value.length === 0"
        >Slagen</ng-container
      >
      <ng-container *ngIf="this.actionControl.value.length > 0">{{
        this.actionControl.value
      }}</ng-container>
    </ng-template>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let action of this.actions">
        <div
          class="selection-button"
          (click)="this.selectOption(this.actionControl, action)"
        >
          {{ action }}
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Items</ng-template>
    <ul>
      <li *ngFor="let suggestion of this.suggestions">{{ suggestion }}</li>
    </ul>
    <iframe
      src="https://www.youtube.com/embed/W_Oi9TemBW0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </mat-step>
</mat-stepper>
